html {
  background-color: white;
  font-size: 1.125rem;
  font-family: Helvetica; sans-serif;
  margin: 0;
  padding: 0;
  }

body {
  line-height: 1.4rem;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Banner*/
.banner {
  width: 100%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-size: cover;
  background-position: center;
  height: 30rem;
  margin: 0;
  padding-top: 1rem;
}

.nav {
  background-color: cadetblue;
  margin-bottom: 10rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav img {
  height: 1.5rem;
  margin-right: 1rem;
  display: block;
  float: left;
}
.nav p {
  display: block;
  float: left;
}

.menu li {
  display: block;
  float: right;
  padding-left: 2rem;
}

.alt_menu li {
  display: none;
}

.banner_container {
  display: flex;
  justify-content: flex-end;
}
.banner_textbox {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-right: -2rem;

}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

@media screen and (max-width: 960px) {
  .banner {
    padding-top: 0;
    height: 22rem;
  }
  .banner_textbox {
    background-color: white;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
  h2 {
    font-size: 1.33rem;
  }
}
@media screen and (max-width: 560px) {
  .banner_container {
    display: flex;
    justify-content: flex-end;
  }
  .banner {
    padding-top: 0rem;
    height: 17rem;
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }
  .banner_textbox {
    background-color: white;
    padding: 1rem 0;
    width: 100%;
    margin: 0;
  }
  h1 {
    font-size: 1rem;
    text-align: center;
  }
  .nav {
    margin-bottom: 9rem;
  }
  .nav span {
      height: 1.5rem;
      margin-right: 1rem;
      display: block;
      float: left;
    }
  .nav p {
    display: none;
  }
  .menu li {
    display: none;
  }
  .alt_menu li {
    display: block;
    float: right;
  }
}

/* Main*/
.main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.icon_box {
  height: 8rem;
  margin: 3rem 6rem;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  align-items: center;
  width: auto;
  text-align: center;
}

.icon_box img {
  width: 5rem;
}

#paper {
  width: 3.5rem;
}

.admin_container {
  display: flex;
  justify-content: flex-start;
  margin: 0 5%;
}
.admin {
  width: 35%;
  margin-bottom: 5rem;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

h2 {
  width: 10rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  padding: .5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  font-style: uppercase;
  color: white;
  display: inline-block;
  float: left;
}

@media screen and (max-width: 560px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: .77rem;
    margin: .77rem 0;
  }
  .icon_box {
    margin: 1.54rem 0;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .admin_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
  }
  .admin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    text-align: left;

    font-size: .77rem;


  }
  .admin h2 {
    width: 100%;
    font-size: 1rem;
    font-style: uppercase;
    text-align: center;

  }
  p {
    margin: 0 2rem 4rem 2rem;

  }
}



/* Footer*/
.footer {
  background-color: azure;
  padding: 4rem;
  text-align: left;
}

.footer img {
  height: 1.5rem;
  margin-right: 1rem;
  display: block;
  float: left;
}
@media screen and (max-width: 560px) {
  .footer img {
    justify-content: center;
    margin: 0;
  }
  span {
    display: none;
  }
}
